*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-y: hidden;
}

body{
    background-image: url(src/assets/cover\ restaurant.jpg);
    height: 100vh;
}